@model SRIS.ViewModels.RegisterCaseInfo
@{
    ViewBag.Title = "全部案例";
    Layout = "~/Views/Shared/_BlankPage.cshtml";
}
<body>
    <div style="margin-left: 200px; margin-top:20px">
        <div class="demoTable">
            <button id="btn_Create" class="layui-btn" data-type="reload">新建</button>
        </div>
        <table class="layui-hide" id="test"></table>
    </div>
    <script type="text/html" id="barDemo">
        <a onclick="LinkManInfo('{{d.RegisterInfoId}}')" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">联系人信息</a>
        <a onclick="btn_Edit('{{d.RegisterInfoId}}')" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="djLink">
        <a href="{{d.RegisterLink}}" class="layui-table-link" target="_blank">{{ d.RegisterLink }}</a>
    </script>
    
    <script type="text/html" id="ftLink">
        <a href="{{d.PostLink}}" class="layui-table-link" target="_blank">{{ d.PostLink }}</a>
    </script>

    <script type="text/html" id="returnTask">
        {{#  if(d.IsReturnTask === 0){ }}
        <button id="btn_ReturnTask('{{d.RegisterInfoId}}')" class="layui-btn layui-btn-sm layui-btn-normal">退任务</button>
        {{#  } else { }}
        <button id="btn_ReturnTask('{{d.RegisterInfoId}}')" class="layui-btn layui-btn-sm layui-btn-normal">退任务信息</button>
        {{#  } }}
    </script>

    <script type="text/html" id="bbhj">
        {{#  if(d.IsBBHJ === "0"){ }}
        <button class="layui-btn layui-btn-sm layui-btn-normal">引导宝贝回家</button>
        {{#  } else { }}
        <button class="layui-btn layui-btn-sm layui-btn-normal">查看宝贝信息</button>
        {{#  } }}
    </script>

    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
              , url: '/Case/GetAllCase'
              //, cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
              , cols: [[
                { field: 'CaseCode', title: '案例编号', sort: true, width: '7%' }
                , { field: 'SRTypeName', title: '寻亲类别', width: '6%', sort: true } //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , { field: 'Title', title: '标题'}
                , { field: 'BeSeekerName', title: '被寻人姓名', width: '7%' }
                , { field: 'getTaskDate', title: '领任务时间', width: '7%', sort: true }
                , { field: 'RegisterLink', templet: '#djLink',title:'登记信息', align: 'center', width: '10%' } //单元格内容水平居中
                , { field: 'PostLink', templet:'#ftLink',title: '发帖链接', sort: true, align: 'left', width: '10%' } //单元格内容水平居中
                , { field: 'IsReturnTask', templet: '#returnTask', title: '是否退任务', width:'6%', align: 'left' }
                , { field: 'IsBBHJ', title: '宝贝回家', templet: '#bbhj', width: '8%', align: 'center' }
                , { field: 'Remarks', title: '备注', align: 'left' }
                , { field: 'right', title: '操作', align: 'left', toolbar: '#barDemo' }
              ]]
              , page: true
            });
        });

        $(function () {
            // 新建
            $("#btn_Create").click(function () {
                window.location.href = "/Case/CreateCase";
            });
        })

        // 联系人信息
        function LinkManInfo(id)
        {
            layer.open({
                type: 2,
                area: ['700px', '450px'],
                fixed: false, //不固定
                maxmin: true,
                title:'联系人信息',
                content: '/Case/EditLinManInfo?id='+id
            });
        }

        // 编辑案例信息
        function btn_Edit(id) {
            window.location.href = "/Case/CreateCase?id="+id;
        };

        // 退任务
        function btn_ReturnTask(id) {

        }

    </script>
</body>







